*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace
}
body{

    background-color:olivedrab;
    opacity: 0.8;
}
ul{
    list-style-type: none;
}
.header{
    font-size: 2.5rem;
    background-color:turquoise;
    opacity: 0.8;
}
.main{
    
    background-color: sandybrown;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto;
}


#inputList{
    margin-top: 3rem;
    width: 75%;
    height: 3rem;
    border-radius: 5px;
    border: none;
}

#inputList:hover{
    background-color:silver;
}

#buttonAdd{
    border: none;
    color: white;
    background-color: tomato;
    width: 10%;
    height: 3rem;
    border-radius: 20%;

}

#buttonAdd:hover{
    background-color:khaki;
}

#li{
    font-size: 2rem;
    color:royalblue;
    width: 100%;
    margin: 1rem;

}

.check_btn{
    width: 20px;
    height: 1.2rem;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}


.fa-trash-alt{
    color: black;
    float: right;
    font-size: 1.7rem;
    margin-top: 5px;
    margin-right: 10px;
}
.fa-trash-alt:hover{
    color: red;
}

@media screen and (max-width: 480px){
    #li{
        font-size: 1.5rem;
        color:royalblue;
        width: 100%;
        margin: 1rem;
    }
    .fa-trash-alt{
        color: black;
        float: right;
        font-size: 1rem;
        margin-top: 5px;
        margin-right: 10px;
    }

    .check_btn{
        width: 20px;
        height: 1rem;
        text-align: center;
        margin-right: 10px;
        margin-left: 5px;
    }
    .header{
        font-size: 2rem;
        background-color:turquoise;
        opacity: 0.8;
        
}
.main{
    
    background-color: sandybrown;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-height: 30rem;
    margin: auto;
}
#inputList{
    margin-top: 3rem;
    width: 40%;
    height: 2rem;
    border-radius: 5px;
    border: none;
}
#buttonAdd{
    height: 2rem;
}
}